<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<context-param>
		<param-name>DEBUG</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
	    <param-name>primefaces.FONT_AWESOME</param-name>
	    <param-value>true</param-value>
	</context-param>
	<context-param>
	    <param-name>primefaces.THEME</param-name>
	    <param-value>omega</param-value>
	</context-param>
	<context-param>
	    <param-name>javax.faces.DATETIMECONVERTER_DEFAULT_TIMEZONE_IS_SYSTEM_TIMEZONE</param-name>
	    <param-value>true</param-value>
	</context-param>
	<mime-mapping>
	    <extension>eot</extension>
	    <mime-type>application/vnd.ms-fontobject</mime-type>
	</mime-mapping>
	<mime-mapping> 
	    <extension>otf</extension> 
	    <mime-type>font/opentype</mime-type> 
	</mime-mapping>     
	<mime-mapping> 
	    <extension>ttf</extension> 
	    <mime-type>application/x-font-ttf</mime-type> 
	</mime-mapping>     
	<mime-mapping> 
	    <extension>woff</extension> 
	    <mime-type>application/x-font-woff</mime-type> 
	</mime-mapping>
	<mime-mapping> 
	    <extension>woff2</extension> 
	    <mime-type>application/x-font-woff2</mime-type> 
	</mime-mapping>
	<mime-mapping> 
	    <extension>svg</extension> 
	    <mime-type>image/svg+xml</mime-type> 
	</mime-mapping>
	<display-name>Lab</display-name>

	<welcome-file-list>
		<welcome-file>colaboradores.xhtml</welcome-file>
	</welcome-file-list>
	<session-config>
		<session-timeout>60</session-timeout>
	</session-config>
	
	<!-- Auto scan REST service -->
	<context-param>
		<param-name>resteasy.scan</param-name>
		<param-value>true</param-value>
	</context-param>
	<listener>
		<listener-class>org.jboss.resteasy.plugins.server.servlet.ResteasyBootstrap</listener-class>
	</listener>
	<servlet>
		<servlet-name>resteasy-servlet</servlet-name>
		<servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>resteasy-servlet</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>
</web-app>